mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,disable)
  .check-el
    if disable
      label.style-label.style-label--checkbox.style-label--disable
        input(type="checkbox").style-input
        .style-input-element
          +icon("checked","icon-check")
        .style-input-text=text
    else
      label.style-label.style-label--checkbox
        input(type="checkbox").style-input
        .style-input-element
          +icon("checked","icon-check")
        .style-input-text=text
mixin radio(text,group,checked)
  .check-el
    label.style-label.style-label--radio
      input(type="radio" name=group checked=checked).style-input
      .style-input-element
        .icon-radio
      .style-input-text=text

mixin incr(state,className='')
  .incr(class= state ? className  +' incr--one' : className )
    .incr__minus.incr__nav
      +icon("minus","icon")
    .incr__val
      span=state ? 1 : 0
      .incr__val-coner
    .incr__plus.incr__nav
      +icon("plus","icon")

mixin product(img="item-1.jpg")
  .product-el
    .product-el--add
      +icon("cart-empty","icon")
      .product-el--add-val 2
    a(href="#").product__img
      .product__img-el(style="background-image:url('img/"+img+"')")
    .product__cont
      a(href="#").product__title Капрічоза
      .product-box
        .product__text Свежеиспечённый ржаной хлеб на молочной закваске с добавлением мёда
      .size
        .size__el.size__el--active 15 см
        .size__el 30 см
        .size__el 45 см
      .product-footer
        .product-price 250 ₴
        .product-weight 300 гр
        .item-add
          +incr(false,"incr--single incr--red-light ")